<style>
  #photo_image {
    width: 300px !important;
    color: #fff !important;
    font-size: 14px !important;
  }

</style>


    <section id="home" class="row-fluid">
          <div class="dots">
            <article>
              <div id="welcome"></div>
              Update your background!

              <div class="row" >

          <div class=" col-md-4 col-md-offset-4">
          <%= bootstrap_form_for([@user, @photo]) do |f| %>

      <div class="field">
       
        <%= f.date_field :photo_date %>
      </div>

      <div class="field">
       
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.primary %>
      </div>
    <% end %>
       </div>
            </article>
          </div>

    </section>


