// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

 #map-container {
   height: 200px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 384px;
   width: 50%;
   float: right;
 }


body {
  background-color: blue;
  font-family: Helvetica, sans-serif;
  }

html, body, .container-fluid, .row, .col-md-12 {
  height: 100%;
}

//Begin navbar
.navbar {
    margin-bottom: 0px;
  }

$bgDefault      : #000000;
$bgHighlight    : #515151;
$colDefault     : #fffc5d;
$colHighlight   : #ffffff;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
// end navbar

  .container-fluid {

    .row {
      text-align: center;
      padding-top: 60px;
      background-color: grey;
      color: blue;
      //overflow: auto;

        h1 {
          font-family: 'Georgia', sans-serif;
          text-align: left;
        }

        .landing-image {
          width: 100%;
          margin: 0 auto;
        }

        .welcome {
          background-color: orange;
          color: pink;  
        }
        .col-md-12 {
          width: 100%
        }

    }
    
  }
  
// I don't know if this is required, as Bootstrap may take care of it.
@media (max-width: 991px) {
  body {
    margin-top: 26px;
  }
  h1 {
  padding-top: 20px;
  }
}

