// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

 #map-canvas {
   height: 400px;
   width: 100%;
   border-radius: 6px
   
 }


body {
  background-color: blue;
  font-family: Helvetica, sans-serif;
  }

html, body, .container-fluid, .row, .col-md-12 {
  height: 100%;
}

//Begin navbar
.navbar {
    margin-bottom: 0px;
  }

$bgDefault      : #000000;
$bgHighlight    : #515151;
$colDefault     : #fffc5d;
$colHighlight   : #ffffff;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
// end navbar

  .container-fluid {

    .row {
      text-align: center;
      padding-top: 60px;
     
     }
  }
  .container {

    .row {
      text-align: center;
      padding-top: 60px;
    }
  }
  
// I don't know if this is required, as Bootstrap may take care of it.
@media (max-width: 991px) {
  body {
    margin-top: 26px;
  }
  h1 {
  padding-top: 20px;
  }
}
